body{
	font-family: sans-serif;
}

.fileToUpload {
	white-space: nowrap;
	margin-top: 5px;
	background-color: rgb(140, 255, 140);
	width: 0%;
}

	.fileToUpload .fileName {
		font-weight:bold;
	}

	.fileToUpload .size {
		margin-right: 10px;
		color:#808080;
	}

	.fileToUpload .percent {
		margin-right: 10px;
	}

	.fileToUpload .error {
		color: red;
		font-weight: bold;
	}

.uploaded {
	margin-top: 5px;
	margin-left:5px;
	font-weight:bold;
}

input[type="file"] {
	display: block;
}